# SO / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais / ferramentas
.venv/
venv/
env/
ENV/
.python-version
pip-wheel-metadata/

# Empacotamento / distribuição
build/
dist/
*.egg-info/
.eggs/
wheels/
*.spec
MANIFEST

# Testes / cobertura / tipagem
.pytest_cache/
.coverage*
htmlcov/
.mypy_cache/
.pytype/
.dmypy.json

# Jupyter
.ipynb_checkpoints/

# Configs/segredos locais
.env
.env.*
*.log

# Bancos locais comuns
*.sqlite
*.sqlite3
